.widget-w0007 {
  .all-category {
    float: left;
    &:after { 
      content: "\0020"; 
      display: block; 
      height: 0; 
      clear: both; 
      visibility: hidden; 
      overflow:hidden;
    }
    // overflow: hidden;
    .all-category__btn {
      float: left;
      height: 40px;
      line-height: 40px;
      width: 200px;
			font-size: 16px;
      text-align: center;
      cursor: pointer;
    }
    .category-list {
      position: absolute;
      font-size: 16px;
      // width: 1000px;
      // display: none;
      height: 0;
      overflow: hidden;
      z-index: 999;
      &:hover {
        width: 1190px;
      }
      .category-main {
        &__btn {
          height: 54px;
          line-height: 24px;
          text-align: left;
					padding-left: 20px;
					// margin-left: 65px;
          // color: #ffffff;
          // background: #ff0000;
          width: 200px;
          cursor: pointer;
          color: inherit;
					&__img {
						margin-bottom: -4px;
						// margin-right: 3px;
					}
					.category-main__btn_title{
						color: #3B3B3B;
					}
					.category-main__btn_subtitle{
						color: #8C8C8C;
						font-size: 14px;
						&__first{
							margin-left: 20px;
						}
					}
        }
        &__con {
          position: absolute;
          left: 200px;
          top: 0;
          display: none;
          width: calc(100% - 200px);
          background: #F5F6FA;
          height: 440px;
        }
        &:hover {
          .category-main__btn {
            background: #f5f8f8;
            // color: #ff0000;
          }
          .category-main__con {
            display: block;
          }
        }
      }
      .category-child {
				background: #F5F6FA;
				margin-top: 16px;
        @include clearfix();
        &__btn {
					// border-bottom:3px solid #F00 !important; 
					// width: 66px;
					border-collapse: collapse;
          height: 54px;
          font-weight: 500;
          text-align: center;
          padding-left: 20px;
					padding-top: 10px;
          float: left;
          text-align: left;
          cursor: pointer;
					color: #3B3B3B;
					margin-top: 1px;
					font-size: 14px;
          @include text-overflow();
          &:hover {
            // color: #ff0000;
          }
        }
      }
			.category-subchild-main{
				border-bottom:1px dashed #000; 
				float: left;
				@include clearfix();
				width: 850px;
			}
      .category-subchild {
        float: left;
        @include clearfix();
			 &__line{
				 height: 54px;
				 line-height: 21px;
				 font-weight: 400;
				 float: left;
				 text-align: left;
				 cursor: pointer;
				 padding-top: 10px;
				 margin-left: 12px;
				 font-size: 14px;
				 color: #8C8C8C;
			 }
        &__btn{
          height: 54px;
					line-height: 21px;
					font-weight: 400;
          float: left;
          text-align: left;
          cursor: pointer;
					padding-top: 10px;
					margin-left: 12px;
					margin-right: 12px;
					font-size: 14px;
					// background-color: lightblue;
          @include text-overflow();
					.link-page{
						&__a{
							color: #8C8C8C;
							&:hover {
								// background: #FF5D02;
								color: #FF5D02!important;
							}
						}
					}
        }
      }
    }
		&.open {
		  .category-list {
		    height: 440px;
		  }
		}
		&.hover {
			.category-list {
				height: 440px;
				transition: height 0.2s;
				background: white;
			}
			.all-category__btn{
				color: #FFFFFF !important;	
			}
		}
	}
  .navs-con {
    // margin-left: 23px;
    .nav-item {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
			font-weight: 500;
      margin: 0 10px;
			&:hover{
				.link-page{
					.link-page__a{
						color: #333333;
						&:hover {
							color: #FF5D02!important;
						}
					}
				}
			}
    }
  }
}
