/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.sp-point-num-input {
    
    display: flex;

    &__input {
        width: 50px;
        height: 34px;
        text-align: center;
        border:0;
    }

    &__btn { 
        width: 34px;
        height: 34px;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        display: flex;
        justify-content: center;
        line-height: 30px;
        cursor: pointer;

        &.is-disabled{
            opacity: 0.5;
        }
    }  
}
