.page-password {
	background: transparent;
	height: 590px;
	align-items: center;
	.form-logo{
		left: auto;
		top: 100px;
		position: absolute;
		width: 561px;
		height: 590px;
	}
  .form-main {
		background-color: rgba(255, 255, 255, 0.9);
		width: 350px;
		height: 426px;
		justify-content: center;
		align-items: center;
		top: 82px;;
    left: 844px;
		position: relative;
		.form-title {
		  font-weight: 400;
		  color: #8C8C8C;
		  height: 26px;
		  line-height: 39px;
		  font-size: 26px;
		  margin: 24px 0;
		  text-align: center;
		}
    .form-item {
      margin-bottom:16px;
			padding: 0 24px;
      .sp-input__input {
        height: 40px;
      }
      .sp-btn {
        height: 42px;
				&__primary{
					background: linear-gradient(270deg, #FF8600 0%, #FF5A00 100%);
				}
      }
    }
    .yzm-field {
      .sp-input {
        width: 202px;
      }
      .yzm-img {
        float: right;
        width: 92px;
        height: 38px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .vcode-btn {
        float: right;
        width: 102;
        height: 38px;
      }
      .sp-timer {
				height: 38px;
				width: 92px;
        background: #fff;
        border: 1px solid #dcdcdc;
        color: #888;
        font-size: 14px;
        cursor: default;
				color: #8C8C8C;
				letter-spacing: -0.4480000138282776px;
      }
    }
  }
}