/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.widget-W0019 {
  // background: #fff;
  overflow: hidden;
  .wgt-goods {
    .wgt-goodstab {
      &_tab {
        // cursor: pointer;
        height: 70px;
        padding: 0 20px;
        // border-bottom: 1px solid red;
        // background-color: red;
        &:after {
          content: '\0020';
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
          overflow: hidden;
        }
        .title {
          margin-top: 20px;
          width: 112px;
          text-align: center;
          float: left;
          .title-span {
            width: 88px;
            // color: rgba(255, 255, 255, 1);
            font-size: 18px;
          }
        }
        .tabList {
          text-align: left;
          float: left;
          margin-top: 22px;
          margin-left: 80px;
          width: 820px;

          height: 40px;
          .tabItem {
            // line-height: 40px;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80px;
            height: 20px;
            padding: 0 4px;
            cursor: pointer;
            color: #3b3b3b;
            font-size: 14px;
            &:hover,
            &.active {
              font-weight: 650;
              color: #ff5d02;
            }
          }
        }
        .more {
          text-align: right;
          float: right;
          margin-top: 20px;
          cursor: pointer;
          // display:none;
          z-index: 999;
        }
      }
      &_goods {
        float: right;
        position: relative;
        width: 100%;
        // height: 560px;
        overflow: hidden;
        // padding: 0 10px;
        .goods-main-img {
          display: flex;
          float: left;
          margin-right: 64px;
        }
      }
    }
    &_list {
      overflow: hidden;
      padding: 0;
      margin: 0 -10px;
      .goods-item {
        float: left;
        box-sizing: border-box;
        cursor: pointer;
        width: 217px;
        // margin: 5px 0;
        margin: 0 0 10px 20px;
        padding-bottom: 6px;
        background: #fff;
        border-radius: 8px;
        border: 1px solid;
        border-color: #333333;
        text-align: center;
        &_wrap {
          position: relative;
          overflow: hidden;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
          }
        }
        &_img {
          position: relative;
          display: inline-block;
        }
        &_logo {
          position: relative;
          display: inline-block;
          // left: 77px;
          top: -30px;
          .img-wrap {
            border-radius: 35px;
          }
        }
        &_title {
          position: relative;
          bottom: 20px;
          width: 150px;
          padding: 0 10px;
          font-size: 16px;
          font-weight: 500;
          height: 22px;
          color: #3b3b3b;
          line-height: 22px;
          text-align: center;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
