/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

@import "./member.scss";

.page-coupon-center {
  background: #FFF;
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    background: transparent;
  }
  .member-content-center {
    margin-bottom: 50px;
    display: block ;
  }
  .member-content-right {
    // background: $color-bg-gray;
    width: 1190px !important;
    &-header {
      background: #fff;
    }
    .coupon-center-title{
      text-align: center !important;
      font-size: 40px !important;
      font-weight: bold !important;
    }
    .title-group{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 67px;
      .coupon-center {
        margin-top: 54px;
        &-title-recommend {
          position: relative;
          margin-top: 24px;
          text-align: center;
          font-size: 16px;
          width: 211px;
          height: 36px;
          line-height: 36px;
          color: #E9F0BE;
          background: #E83637;
          .triangle {
            &-right {
              position: absolute;
              top: 13px;
              right: -14px;
              width: 0;
              height: 0;
              border-left: 19px solid transparent;
              border-right: 19px solid transparent;
              border-bottom: 10px solid #FFF;
              transform: rotate(-90deg);
            }
        
            &-left {
              position: absolute;
              top: 13px;
              left: -14px;
              width: 0;
              height: 0;
              border-left: 19px solid transparent;
              border-right: 19px solid transparent;
              border-bottom: 10px solid #FFF;
              transform: rotate(90deg);
            }
          }
        }
      }
      .coupon-my {
        color: #FB4D4E;
        padding: 10px 18px;
        border-radius: 30px;
        border: 1px solid #ff3c3b;
        background: #ffe9e9;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        cursor: pointer
        ;
      }
    }
  }

  .loading-container {
    text-align: center;
  }

  .no-coupon {
    padding: 200px 0;
    text-align: center;
    color: #888;
  }

  .coupon-list {
    @include clearfix();
    display: flex;
    flex-wrap: wrap;

    .coupon-item {
      float: left;
      margin-right: 24px;
      margin-bottom: 24px;
      // 一行三张优惠券，设置4n导致显示问题，暂注释
      // &:nth-child(4n + 4) {
      //   margin-right: 0;
      // }
    }
  }

  .coupon-toolbar {
    height: 32px;
    line-height: 30px;
    background-color: #f8f8f8;
    z-index: 10;
    position: relative;
    margin-bottom: 20px;

    .coupon-type {
      font-size: 12px;
      display: inline-block;
      padding: 0 15px;
      cursor: pointer;
      border: 1px solid #f8f8f8;
      text-align: center;

      &__current,
      .ec-icon-unfold {
        color: $color-brand-primary;
        display: inline-block;
      }

      .ec-icon-unfold {
        vertical-align: bottom;
      }

      &__cover {
        display: none;

        &-item {
          display: block;

          &:hover {
            color: $color-brand-primary;
          }
        }
      }

      &:hover {
        border-color: #efefef;
        background: #fff;

        .coupon-type__cover {
          display: block;
        }

        .ec-icon-unfold {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__content {
    padding: 20px 0;
    background: #fff;
  }

  &__page-wraper {
    text-align: right;
  }

  .pagination-wrap {
    text-align: right;
    margin-top: 10px;
  }

  &__block {
    // border-top: 1px dotted #ccc;
    // padding-top: 20px;

    &.lose-eff {
      .coupon-item {
        opacity: 0.5;
      }
    }

    &-title {
      font-size: 16px;
      text-align: left;
      font-weight: bold;
      line-height: 16px;
      letter-spacing: 2px;
      color: $color-secondary-text;
      margin-bottom: 10px;
    }
  }

  &__coupon {
    @include clearfix();

    &-item {
      float: left;
      margin-bottom: 35px;
      margin-right: 74px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .member__tips {
    text-align: center;
  }
  .back-img{
    position: absolute;
  }
  .coupon-center-img1{
    top: 0;
    left: 66px;
  }
  .coupon-center-img2{
    top: 0;
    right: 103px;
  }
}