/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.page-member{
  .member-content-right{
    padding-left: 30px;
    // background: $color-bg-gray;
  }
  &__content{
    background: $color-bg-gray;
    height: 100%;
  }
  &__vip-wraper{
    text-align: center;
    padding-top: 30px;
    .vip-card{
      display: inline-block;
    }
  }
  .card-list{
    margin-top: 40px;
    .card-img{
      max-width: 100%;
    }
  }
}