/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.widget-w0001 {
  &-body {
    position: relative;
  }
  .swiper-container {
    height: 100%;
    .swiper-pagination {
      padding: 0 20px;
      &-custom {
        .pag-style1 {
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 20px;
          background: #8d8d8d;
          color: #fff;
          font-size: 12px;
          text-align: center;
          line-height: 24px;
        }
        .pag-style3 {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          margin-right: 2px;
        }
        .pag-style4 {
          display: inline-block;
          width: 30px;
          height: 4px;
          border-radius: 2px;
          margin-right: 2px;
        }

        .pag-style5 {
          width: 100px;
          margin-right: 6px;
          &.active {
            width: 120px;
          }
        }
      }
    }
    .default-bg {
      background: #d3d3d3;
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      margin: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    }
  }
  .custom-pagination {
    position: absolute;
    bottom: 10px;
    z-index: 1000;

    &.right {
      right: 0;
    }
    &.left {
      left: 0;
    }
    &.center {
      left: 50%;
      transform: translate(-50%, 0);
    }
    img {
      margin-right: 10px;
      &.active {
        width: 120px;
      }
    }
  }
}
