/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.page-order {
    background: #f5f5f5;
  overflow: hidden;
  .container {
    background: transparent;
  }
  .member-content {
    font-size: 12px;
    @include clearfix();
    margin-top: 20px;
    &-left {
      float: left;
      width: 215px;
      min-height: 700px;
      border: 1px solid $color-border-gray-light;
      border-radius: 4px;
    }

    &-right {
      margin-left: 220px;
      min-height: 700px;
      border: 1px solid $color-border-gray-light;
      // // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      // border-radius: 4px;
      &-limit {
        width: 600px;
      }
    }
  }
  .order-tag {
    display: inline-block;
    height: 20px;
    padding: 0 8px;
    margin-right: 5px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: red;
  }
  .member-content-right {
    background: #fff;
    .member-content-right-list-header {
      // display: flex;
      border-bottom: 1px solid $color-border-gray-light;
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      font-size: 14px;
      color: $color-primary-text;
    }
    .member-content-right-list-body {
      padding: 20px;
      .tabs-status{
        height: 30px;
        .tab{
          display: inline-block;
          padding-right: 20px;
          cursor: pointer;
          
        }
        .active{
          color:$color-brand-primary ;
        }
      }
      .member-content-right-list-body-search {
        padding-top: 20px;
        // display: flex;
        height: 55px;

        .search-lfet {
          width: 300px;
          padding-left: 10px;
          float: left;
          // display: flex;
          align-items: center;
          .btn {
            display: inline-block;
            margin-left: 10px;
            width: 70px;
            height: 28px;
            line-height: 28px;
            border: 1px solid $color-border-gray;
            text-align: center;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
              background-color: $color-border-gray-light;
            }
          }
        }
        .search-bar {
          float: right;
          width: 350px;
          height: 30px;
          // display: flex;
        }
        .sp-input {
          display: inline-block;
          width: 180px;
          height: 30px;
          border: 1px solid $color-border-gray-light;
          &__input {
            background: #fff;
            height: 100%;
          }
        }
        .search-btn {
          display: inline-block;
          margin-left: 15px;
          width: 120px;
          background: $color-brand-primary;
          color: $color-primary-text;
          border-radius: 3px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
        }
      }
      .member-content-right-list-body-content {
        .list-table {
          border: 1px solid $color-border-gray-light;
          width: 100%;
          margin-top: 10px;
          .list-table-header {
            padding: 0 10px;
            height: 30px;
            line-height: 30px;
            border-bottom: 1px solid $color-border-gray-light;
            & > span {
              margin-right: 10px;
            }
          }
          .table-body {
            border-collapse: collapse;
            border-spacing: 0;
            tr {
              border-bottom: 1px solid #efefef;
              
              // &:nth-last-child(1){
              //   border-bottom:none
              // }
            }
            td {
              padding: 10px;
            }
            tbody {
              // border: 1px solid #efefef;
              // tr {
              //   border-bottom: 1px solid #efefef;
              // }
            }
          }
          // .list-table-body {
          //   width: 100%;
          //   // display: flex;
          //   .list-table-body-left {
          //     height: 100%;
          //     float: left;
          //     //  display: block;
          //     // display: inline-block;
          //     width:580px;
          //     .list-table-body-left-item{
          //       padding: 10px 0;
          //       &:nth-child(1){
          //         border-top:none;
          //       }
          //       border-top: 1px solid $color-border-gray-light;;
          //       // display: flex;
          //       border-right: 1px solid $color-border-gray-light;
          //     img {
          //       width: 70px;
          //       height: 70px;
          //       float: left;
          //     }
          //     .product-name {
          //       display: inline-block;
          //       padding-left: 5px;
          //       // line-height: 18px;
          //       vertical-align: middle;
          //       height: 100%;
          //       width: 280px;
          //     }
          //     .product-price {
          //       display: inline-block;
          //       color: var(--color-primary);
          //       padding-left: 5px;
          //       width: 100px;
          //     }
          //     .product-num {
          //       display: inline-block;
          //       padding-left: 5px;
          //     }
          //     .product-ctrl {
          //       display: inline-block;
          //       padding-left: 5px;
          //       width: 85px;
          //     }
          //   }
          //   }
          //   .list-table-body-right {
          //     float: left;
          //     // height: 100%;
          //     width: 300px;
          //     // position: relative;
          //     // transform: translateY(50%);
          //     .product-price {
          //       color: var(--color-primary);
          //       width: 80px;
          //       display: inline-block;

          //     }
          //     .product-status{
          //       height: 100%;
          //       vertical-align: middle;
          //       display: inline-block;
          //       width: 100px;
          //     }
          //     .product-ctrl{
          //       height: 100%;
          //       display: inline-block;
          //       width: 110px;
          //     }
          //   }
          // }
        }
      }
    }
  }
  &__b {
    padding-top: 40px;
  }
  .member__tips {
    font-size: 16px;
    // color: $color-secondary-text;
    font-weight: bold;
    margin-top: 26px;
  }
  .mb20 {
    margin-bottom: 20px;
  }
}
