/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.widget-w0004 {
  .wgt-logowall {
    &_title {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      text-align: center;
      margin-bottom: 20px;
      position: relative;
      // .link-page {
      .name {
        font-size: 28px;
        color: #333;
        display: block;
        &:before {
          content: '';
          display: inline-block;
          background-image: url(./img/sprite.png);
          background-position: 0px 0px;
          width: 25px;
          height: 20px;
          left: 0px;
        }
        &:after {
          content: '';
          display: inline-block;
          background-image: url(./img/sprite.png);
          background-position: -25px 0px;
          width: 25px;
          height: 20px;
          right: 0px;
        }
      }
      .more {
        position: absolute;
        right: 0;
        top: 0;
        .espier-icon-xiangyou-01 {
          font-size: 14px;
        }
      }
      // }
    }
    &_list {
      margin: 0 -10px;
      // background: #fff;
      &:after {
        content: '\0020';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow: hidden;
      }
      .logowall-item {
        float: left;
        margin: 0 0 10px 10px;
        .logo-image {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
  .default-logo {
    background: #d3d3d3;
    height: 100%;
    position: relative;
    &__text {
      position: absolute;
      font-size: 22px;
      width: 100%;
      display: inline-block;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
