  
@font-face {
  font-family: 'ec-icon2';  /* project id 2222481 */
  src: url('//at.alicdn.com/t/font_2222481_akx85d4eftu.eot');
  src: url('//at.alicdn.com/t/font_2222481_akx85d4eftu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2222481_akx85d4eftu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2222481_akx85d4eftu.woff') format('woff'),
  url('//at.alicdn.com/t/font_2222481_akx85d4eftu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2222481_akx85d4eftu.svg#iconfont') format('svg');
}

 .ec-icon2 {
   font-family: "ec-icon2" !important;
   font-size: 16px;
   font-style: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .ec-icon2-chenggong:before {
   content: "\e62a";
 }

 .ec-icon2-shibai:before {
   content: "\e62d";
 }

 .ec-icon2-zhifu:before {
   content: "\e6b8";
 }

 .ec-icon2-shouhou1:before {
   content: "\e602";
 }

 .ec-icon2-wode-zhuansvg-zhuanqu-:before {
   content: "\e60d";
 }

 .ec-icon2-ziti1:before {
   content: "\e60e";
 }

 .ec-icon2-daizhifu:before {
   content: "\e60c";
 }

 .ec-icon2-daishouhuo:before {
   content: "\e6c8";
 }

 .ec-icon2-tishi:before {
   content: "\e649";
 }

 .ec-icon2-xiangji:before {
   content: "\ea50";
 }

 .ec-icon2-yifahuo:before {
   content: "\e650";
 }

 .ec-icon2-yiqianshou:before {
   content: "\e681";
 }

 .ec-icon2-ec-icon2-test:before {
   content: "\e618";
 }

 .ec-icon2-Frame1:before {
   content: "\e608";
 }

 .ec-icon2-yonghu:before {
   content: "\e6a6";
 }

 .ec-icon2-bianji1:before {
   content: "\e601";
 }

 .ec-icon2-bianji:before {
   content: "\e600";
 }

 .ec-icon2-weixin1:before {
   content: "\e675";
 }

 .ec-icon2-anniu-01:before {
   content: "\e804";
 } 
 .ec-icon2-jifen-01:before {
   content: "\e807";
 }