$font-size               : 14px;
$color-brand-primary     : #FF0036;
$color-primary-text      : #fff;
$color-secondary-text    : #d3777a;
$color-border-gray       : #dcdcdc;
$color-border-gray-light : #ececec;
$color-border-gray-dark  : #cecece;
$color-bg-gray           : #f2f2f2;
$color-a-B               : #333333;
$color-success-text      : #8ab660;
$color-black-text        : #333333;
$color-custom-theme      : #FF9916;