/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */

.page-apply-refund {
  .member-content-right {
    padding-left: 30px;
    padding-top: 0;
  }

  .border-top {
    border-top: 1px solid#adadad;
  }

  &__explain {
    width: 690px;
    min-height: 100px;

    .textarea {
      padding: 10px;
      font-size: 14px;
    }
  }

  &__status {
    font-size: 16px;
    letter-spacing: 2px;
    color: $color-primary-text;
    padding: 17px 0 13px 0;

    &-text {
      font-weight: bold;
    }

    &-order {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .member-select {
    width: 275px;
  }

  &-button-wraper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .refund-item {
    padding-left: 40px;
    margin: 0 0 20px;
    position: relative;
    .sp-radio__label {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      margin-left: -40px;
    }
  }

  .goods-item {
    position: relative;
    margin: 0;
    &__img {
      width: 155px;
      height: 213px;
      background: #fff;
      border: 1px solid #c2baba;
    }

    &__right {
      width: calc(100% - 180px);
      height: 100%;
      padding-top: 16px;
    }

    &__title {
      font-size: 16px;
      color: $color-secondary-text;
      margin-bottom: 8px;
    }

    &__specs-bn {
      font-size: 16px;
      color: $color-primary-text;
      font-weight: normal;
      margin-bottom: 12px;
    }

    &__price {
      position: absolute;
      bottom: 10px;
      font-size: 16px;
      color: $color-secondary-text;
    }

    &__specs {
      &-color {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 8px;
      }

      &-size {
        display: block;
        font-size: 16px;
      }
    }
    &__actions {
      bottom: 10px;
    }
  }

  .mb20 {
    margin-bottom: 20px;
  }

  .img-list {
    @include clearfix();
    margin-bottom: 10px;
    li{
      @include pdt-img(60px,60px);
      height: 60px;
      float: left;
      border: 1px solid #dad1d1;
      margin-right: 20px;
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .file-input {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: $color-bg-gray;
    text-align: center;
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
      z-index: 10;
      cursor: pointer;
    }
    &:after{
      content: '+';
      font-size: 24px;
      font-weight: bold;
      line-height: 60px;
      position: absolute;
      @include position();
    }
  }


}
