@font-face {font-family: "ai-iconfont";
  src: url('//at.alicdn.com/t/font_1468048_62jm5v1256f.eot?t=1577257978229'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1468048_62jm5v1256f.eot?t=1577257978229#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA3cAAsAAAAAGsAAAA2MAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCGBgqjMJ0VATYCJANsCzgABCAFhEkHgkEbohYzo/aSs9JD9n854MZQsGH1p4TMZLKFOhqJpJCDTmVfPnRax1zBMHw0Q+tXCtbs6YY22IcF95K6aJLn8ohJ4R7rfRDRGjp7D0ABBB0fVlHoyEY4KBlRXQdoqytcXUDY/oCn/cty7W1BsXZKnclNO7GDM5DnsTsOOkDe6YM88H/v7t9tDWVssGVtLn0cYQKJZB3fAi8A2pxZGf0wXQatw+VqSe5NZFKJVFQ/S7LCWnPZXoHsz+ZXbRgZFq4ytuO3XXeOBikSXshVUJjMhh0VrppHINICFwek2y1N9ujXAwUELv+a+7R3ZbYHW0JhWiFrXGXlbvIPNrvp5B0TywLZcnKESQHYCEJVJatt4YHh9Xt1QrzOTQ0fwPUhwNVnhvQGHzVgSKeGEyCnfVYKMDxxpFesFPYRs2DSfBAOKdjpQ1oP+BA+v/x76sQQFCNDjbq7eZUOgl5eshDDwpsx9ecOjKYCDcwAHXIv9Pye7ehMYG5R+txbpGKpqJc2NrVwEajfkjfE6BkxiVc3/GfVF8SWIpUrVy9YedZQqtQaLYPJYnO4PL5AKBJLpDK5gn6N/uMpSIlK7gNkRFSLZ8RuR4lng+2o8MzdjhrPI7ejwTMmtuMuAAbcFYk23A0JuDuADVcDOHAGwIVrADy4FsCHewAEcE+AEO4FEMG9AWK4D0AC9wVI4f4AGTwAIIcHAhTwfgAdvoTt0PBaD0jgDWRCAej8JGvgnnHDmlPyb8nkeUdjyfTXQ2JFCKvIdOpuiKCmFsAcxu4eDjQ7B4lP7DvihL4VRboKMJpQAv88AHfkGLeNTth5xR4yKOUITyMXpQuRj+n3EIEXBImEFz2M6qceG6/WZX9/WaTnvFcODlVUYN3GnU1UGfuYXkvUzF8UbjbmK+5ueWluuK54ITRmhX+EMIStMs6fZ8DcoWDdQCvMBqoodbas6Y7Ka8loGE+td3ymIaiv7CcskNgI9UDYiXFv6dEBcbMSZnsOknqzyvnXMVDcMrFCl8YOt66S9biODbpmb8dMgJ9X7TW64azXhCdhMbsR2vy5AnC1MBGBIGENYemkmAqmpQkarkyeus1unJLIPDkYo+7L/y4UIiHjUuZV5ZKaJymiXJo3Oebj7z7NQXEh0CJNQjwFYVB4UlpKQJxCfab0pgEGdtajcFILcrsOY7CVuqxr+VeQ1c41k/Y1Ndb29jfDhhGNbvTkzFaFpP1tf2ekJvzK038Pzgq51E9j+OrvzPKeCH/WC4NBloEEUwjZ6L7Zy8tmFIgMtuZ+3yrrJxkE6obsQZlvnT2ErbkjPlg/7GQaznA6PkI8QIaBjfi6h9uNvWR46PeeKnVKA4RBhADBglk51+20DNChw3J9PeltBKGpD9MBn9Jo1tZmGy0lc0xuvB/EwYbiO9UN4qnuup16tR4hwFSnI9Bp7kdkEISh1PogxtS6iwxzG8/SM9eFo5cu9ctXN9wvhD0T5PGn9hM8LGvDdaiuoqiVEZ5ocU3KlQYXc/7zuTHE1N1tClbvr6fNPbKRuItTXfzVgc52C23+n9Nps6sVds3Hq/lD6+QpiQdkLxAER1RHBIfrK8E6WEseLo9jYF+CX9urKUwn4R4GbjY8Z9znZjdelYtyBC5xqqfwEA8YgkdangV+hxtZgUmqEXEB7uk1CjnqhrP+oPlYZSMzJ6EzvkwWRw+1TV2+if5St0i+MTKwxhK5SXA1z+K34CaWF2A+j3mZ+SztcOdpfvrLuOfJL6zquGSLHY1f3f2meNlIcAodwiDQdGiqZyxnIQYwETcuXiDL487ECm7oUxRYLNU/gmaD5KGTjyaIif6AAO5Bhq3tjIQMNfhxNl4qEndlHA2E01zXu+t1ly9fHfG55qnNnO04mX8lvAbv9Q/mUmhGz0Uy8BwY8F1GBVh2iAk2Te+KgSkZvMLVrxtKXgMVG9v+kvw8hG+AgYF4bSTgFHQOk8EnqYvpOBYI20jP4n/SCxVJrHUpVu9VpZCaHlQedPaKvTpWb12axBYq0lkiNlDrB9wDPr+76J5jlKtIVoUGZxDReHRIiiBF+EXjGcRZmEqRbJRb9g24SJkAJAbIohtdpvtrzbVrOlK3wTbn2rV9WvA6lkeBRFJpACjvOd6XCiagwq/Ag7opqQy4SVWOl8wvCXu2Gic/CZJ/DtykSkldQ7o0DpNin8JwkIuhFytykUO6Q6E20Z60BLgUqu8Y/CCjw+vi0o7Qw41u7UiT08ONHcvU6k3e6t5JscrYAXRNXK4YaBKmJTyBVBY2N89HL19G3coFly+tQC9dGi0tenao5meDte/ePvTAATSz7xtiMniW0tuehU5LOLlalhULy0TCSCRNCBPGEJ8Ir4/kJ7KJ+BBov2DhArl125e8UFE5TdufHGkABy3QH9PL0WM+DNCXIZNlGGS2rV6rR1kVC4g1lzlz5hS3a2SRXch1WVA0Uq3nEDZJufi8NMxLx81xy6hSXDJa80UXuR3nMb0l0rCRKXkLJ+sWL8doaqJnimcafpr/dF7o5zPgzYY4wPw5uyZLcv1moywEB9Q1hOgN3qSFYJT1m507WVKiAzwm6u8wl/wJNKRCn5rKSeP4O8oom3RhkkPG6HB1uf+NExUB7pAlW2272mu1zerR4ZogldEnDQNfxxcNa5Xab3bftAryHfJELsMewLAonbTq+4zhiQoKotBI+WZMmq6dwqCCQkGrf9+FRYLmGqCERx/ZfDpKL3skVPzvJ+v3tWN8rUTBCFvtmy7Y6S/bfNxiOTHoh//fEqexJH+aI8Fzdf2hm2TYVp8hbdXGGonG1FpmTxVHCHSc/LeY8f91uM9CTSlu2JzoRiiclYIKjfEEc/4cX0I4TWo6IT539lCyylEF15Nm6kyr8DCrjGLjRrdO0AptvTezdouJOCPUPz+ms6wwn0rHrsyUd9mGaY4VoxN1LZy7YG4XjzmRrXSE37i2fcytXsaWSHQKwQQ682vDEeaCYDzekV/sN4QeO4YOEfN/D2AJiT3e4RMcqRuJxAvfO5A9Bp2bNnU6e4MhRiF7ZFxvhg0P53CszIZI7R2WjtV3A+TNxKREThKeFKZ5/IjzmHi8/86Tx5wnxJOXmzk4PnGL2e+jNqgZSyJdWnNSYtLcpCSLw78T+L14UTGgrYJqGPSoOHslFipggJmzqWrQswpqYMjHkbkanwfdjrTAdYS7YNd+qpk+0EJTyeJGi/4GCyutRbPyQIvSIv10Q5pJo/kk5uLUewk50KIyN29WHdiA4aPyoXLALpy7p+xKHIQ3KFJ0LhfTlXF8q0aLvo7NNGSxmTbjQUI2KPZ2LN7frBfcXkX2CoBadF/9oNdI0BsZ7RdBRpJOY+wlZ8w5xBl3jrV33PhgNHc0Upz3IPIB8C2dAz0C19AX//6nPdb/+9L/+392+zPurP/2cf0W40fI348gCNXTq4B8+ZIEJaq/P0KpHHFfg1Ip7Q63czAnnjI5EnFUbBEjE3l3mcgDdWtE+V3ibrFMEv+k5THPT8qVwm3uQZIPWz23fJAO/zMQK7ztezfzjZ/LrOXPrV83Ik7y1E2lU+TirlTMhFOdzOn4asZd6q5lzGmvvj709XnR5j/itVQ4/Dxhp6kyRhdfv77Y2aMC80YR9U1ptU9eWGNqcUDUZpG2lD4cnRKaFVfGjEnceZgvmeIrEszVzOGLvEx5jqUCUzd1Cz+8hF/GN/Uy5Tmaea2bYWaO2EGQSO3oLjIh09cBz8xB8cKMV3NaeqZ2W10uojINiplYkvjszHglKmOL5gBKaGNjJbayszGmHCpNeWU800qwGV60fSHJ3/r0tKDMUjcyDnaGMzmMbti3K4FlE3x10h0LF7H8Y3eFY+n8aHpslxDqQLcwhrGW9sOg4//2ZID4vwmUG8Yg/WnQBhB/6kOJzGKdY2jm0LstR5MByI4bjMsyOADEZbahfVgccQINOfqBNagNnkfMLrLYaRGaZfl7gLountJzg7S2kessQTPk7KsWZ0xGfSz2eofqLDqNRjuie3xBx/4NNBg8kr1n5/P9fhni/xb1edo7/RUSRX3jUP2PcdNPWK84wV88DsX11roWl6WtcuryeclbocezGmegH4qq2EkVL9mq8z8OV8DVdeBvId/Uv+snF8mCp8aJaYQUS4s0hkFzfe4YMnimqYm8BnJN247ryVxCWZg73lPuQML1ESmhT0jj+mWuz/2DDKW/yOR6Qq5jX3V6xlZgZ/FGoBiuon0JrzEb48ELtUv8DbaLioTowv6BqidQHJvDacwXZKB2Y9S7PTEbYQiT+OzgxiBGFIXwBpobx1zO+70pGrPRmHoLQgkU+y2vova1r9eYTSwvKIz3/AbbxbIk8uzc/2FpXgVxdtGxpkOV+RdGqC7wMtPXuz3FgpoRNTI5JtHntXCHqCNRVIoHuoHmJtcivJzbi4pMKmsuV05PfcYTq1A1fkcZpmU7nK6v7U/M7fH6/BKpTK5QqtQarU5Pw0t1H9unIHGsI1aYJWl8ZKBhq+ykgiLtRhqjHLuA4/RKhsWn8diTJB0mmCdZge5ewxnt9qRCaImJSJC73cY/tUDJqbqCua7PyGW61s2qb3VYhrsgXYG2Rxf0mdsJl/GYpjevMmO3yOrurWKPeVGTilFGtDiOqFUcsfUIvR4AAAA=') format('woff2'),
  url('//at.alicdn.com/t/font_1468048_62jm5v1256f.woff?t=1577257978229') format('woff'),
  url('//at.alicdn.com/t/font_1468048_62jm5v1256f.ttf?t=1577257978229') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1468048_62jm5v1256f.svg?t=1577257978229#aicon') format('svg'); /* iOS 4.1- */
}

.aicon {
  font-family: "ai-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aicon-fav:before {
  content: "\e86f";
}

.aicon-fav-o:before {
  content: "\e870";
}

.aicon-close:before {
  content: "\e69e";
}

.aicon-m-filter:before {
  content: "\e68d";
}

.aicon-bag:before {
  content: "\e62e";
}

.aicon-search:before {
  content: "\e62f";
}

.aicon-col-:before {
  content: "\e630";
}

.aicon-col-1:before {
  content: "\e631";
}

.aicon-m-col-2:before {
  content: "\e632";
}

.aicon-m-col:before {
  content: "\e633";
}

.aicon-m-home:before {
  content: "\e634";
}

.aicon-m-service:before {
  content: "\e635";
}

.aicon-m-user:before {
  content: "\e636";
}

.aicon-m-bag:before {
  content: "\e637";
}

.aicon-m-menu:before {
  content: "\e638";
}

.aicon-m-member-coupons:before {
  content: "\e639";
}

.aicon-m-member-favs:before {
  content: "\e63a";
}

.aicon-m-member-shops:before {
  content: "\e63b";
}

.aicon-m-member-order:before {
  content: "\e63d";
}

.aicon-m-member-points:before {
  content: "\e63e";
}

.aicon-m-member-user:before {
  content: "\e63f";
}

.aicon-jiantou:before {
  content: "\e601";
}

.aicon-navigation:before {
  content: "\e602";
}

.aicon-small-logo:before {
  content: "\e606";
}

.aicon-local:before {
  content: "\e607";
}

.aicon-talk:before {
  content: "\e60a";
}
